<div class="container">
    <h1>Orders</h1>
    <table class="table table-dark">
        <thead>
          <tr class="bg-info">
            <th scope="col">Customer</th>
            <th scope="col">City</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.shipping.lastName }} {{ order.shipping.firstName }}</td>
            <td>{{ order.shipping.city }}</td>
            <td>{{ order.datePlaced | date:'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
</div>
