<p>
    <a routerLink="/admin/products/new" class="btn btn-success">New Product</a>
</p>
<table matSort (matSortChange)="sortData($event)" class="table table-dark table-hover">
    <thead>
        <tr class="bg-info">
            <th mat-sort-header="imageUrl"></th>
            <th mat-sort-header="title">Title</th>
            <th mat-sort-header="author">Author</th>
            <th mat-sort-header="category">Category</th>
            <th mat-sort-header="price">Price</th>
            <th mat-sort-header="edit"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of sortedData">
            <td>
                <img [src]="p.imageUrl" class="thumbnail" alt="">
            </td>
            <td>{{ p.title }}</td>
            <td>{{ p.author }}</td>
            <td>{{ p.category }}</td>
            <td>${{ p.price }}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
