/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body { 
    background-color: #343a40!important;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
